@import "tailwindcss";

/* Light Theme (default) */
@theme {
  --font-family-lato: Lato, sans-serif;
  --color-background: oklch(0.98 0.02 240);
  --color-foreground: oklch(0.2 0.05 240);
  --color-card: oklch(1 0 0);
  --color-primary: oklch(0.65 0.15 270);
  --color-primary-foreground: oklch(0.98 0.02 240);
  --color-secondary: oklch(0.98 0.02 240);
  --color-border: oklch(0.92 0.02 240);
  --color-primary-light: oklch(0.8 0.12 270);
  --color-accent-morado3: #7c3aed;
  --color-accent-morado2: #a78bfa;
  --color-accent-morado: #6b21a8;
  --color-accent-rose: #ddd6fe;
  --color-bg-cover: rgb(239 235 234);
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(0.12 0.02 240);
    --color-foreground: oklch(0.95 0.02 240);
    --color-card: oklch(0.18 0.02 240);
    --color-border: oklch(0.92 0.02 240);
    --color-secondary: oklch(0.2 0.05 240);
    --color-primary: oklch(0.45 0.15 270);
  }
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-family-lato);
    transition: color 0.3s, background-color 0.3s;
  }
}

@layer utilities {
  .glass-nav {
    backdrop-filter: blur(20px);
    background-color: rgba(67, 34, 87, 0);

    border: 1px solid rgba(255, 255, 255, 0);

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15),
      inset 0 0 0 1px rgba(255, 255, 255, 0.1);

    border-radius: 16px;
    transition: all 0.5s ease;
  }
}
