@import "tailwindcss";

/* Light Theme (default) */
@theme {
  --font-family-lato: Lato, sans-serif;
  --color-background: #f5f5f5;
  --color-foreground: #333333;
  --color-card: #ffffff;
  --color-primary: #000000;
  --color-secondary: #1a1a1a;
  --color-border: #e0e0e0;
  --color-primary-light: #5e5e5e;
  --color-accent: #008080;
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-family-lato);
    transition: color 0.3s, background-color 0.3s;
  }
}

@layer utilities {
  .glass-nav {
    backdrop-filter: blur(20px);
    background-color: rgba(67, 34, 87, 0);

    transition: all 0.5s ease;
  }
}
